<h2 class="title is-2"><%= @actor.actor_name %></h1>

<h4 class="title is-4">Characters: </h4>

<div class="columns is-multiline">
  <% @actor.characters.each do |character| %>
    <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by5">
            <img src="<%= character.image %>" alt="<%= character.name %>">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4"><%= link_to character.name, character, :class =>"title is-4" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
