<h2 class="title is-2">All Episodes</h2>

<div class="grid">
  <% @episodes.each do |episode| %>
    <div class="cell">
      <div class="card">
        <div class="card-content">
          <ul>
          <div class="media">
            <div class="media-content">
              <li class="title is-6">Season <%=episode.season%> Ep <%=episode.episode_number%> : <%= link_to episode.title, episode %></li>
            </div>
          </div>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

