<h2 class="title is-2">About the Dataset</h1>
<a href="https://www.bobsburgersapi.com/">Bob's Burgers API</a>
<p class= "subtitle is-5">The Bob's Burgers API is in JSON format and contains six different endpoints such as: <br>
  Characters, Episodes, Store Next Door, Pest Control Truck, End Credits Sequence, and Burger of the Day. <br>
  This API also allows for filtering, sorting, and limiting data. <br>
  For this application, I will be using four out of the six datasets which will require the following tables:
</p>

<%= image_tag "bobsburgers_erd.png", alt: "Description of Image", width: "600", height: "600" %>

<p class= "subtitle is-5">I will be using the httparty gem💎 to fetch data from the API</p>
